<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="C968.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <C968.Properties.Settings>
            <setting name="AutoIncrementValue" serializeAs="String">
                <value>101</value>
            </setting>
            <setting name="AutoIncrementValue1" serializeAs="String">
                <value>101</value>
            </setting>
            <setting name="AutoIncrementValue3" serializeAs="String">
                <value>101</value>
            </setting>
            <setting name="AutoIncrementValue2" serializeAs="String">
                <value>101</value>
            </setting>
        </C968.Properties.Settings>
    </userSettings>
</configuration>